{% extends "::base.html.twig" %}

{% block content %}

<h1>Dang! An Error Occurred</h1>
<h3>The server returned a "{{ status_code }} {{ status_text }}".</h3>

<p><strong>The message:</strong> {{ exception.message }}</strong></p>
<p>{{ message }}</p>

{% if url is defined %}
<p><a href="{{ url.url }}">{{ url.text }}</a></p>
{% endif %}

{# I may have a dream.. #}
{% if stacktrace is defined %}
<p>
{{ stacktrace }}
</p>
{% endif %}

{% endblock %}
