<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/redpilllinprocommon/css/standard.css') }}" type="text/css" media="all" />
        <title>{% block title %}RedpillLinpro Examples{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('bundles/redpilllinprocommon/images/favicon.ico') }}" />
        <script type="text/javascript" src="{{ asset('bundles/redpilllinprocommon/js/jquery.min.js"') }}></script>
        <script type="text/javascript" src="{{ asset('bundles/redpilllinprocommon/js/jquery.tablesorter.js') }}"></script>

<script type="text/javascript">
$(document).ready(function()
    {
        $("#sortable_table").tablesorter();
    }
);
</script>

    </head>
    <body>
        <div id="rl-wrapper">
            <div id="rl-header">
<!--
                    <img src="{{ asset('bundles/redpilllinprocommon/images/rl_logo_trans.png') }}" alt="Redpill Linpro">
-->
            </div>

            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="flash-{{ type }}">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            <div id="rl-sidemenu">
                  <img src="{{ asset('bundles/redpilllinprocommon/images/rl_logo_trans.png') }}" alt="RL-Logo"><br><br>
                    {% block lsidemenu %}
                    {% endblock %}
              <div id="rl_loggedin_check">
                 {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                     <small><small><b>
                     {{ 'common.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}  </b><br>
                     <a href="{{ path('fos_user_security_logout') }}">
                         <small><small> {{ 'common.logout'|trans({}, 'FOSUserBundle') }} </small></small>
                     </a></small></small>
                 {% else %}
                     <a href="{{ path('fos_user_security_login') }}">{{ 'common.login'|trans({}, 'FOSUserBundle') }}</a>
                 {% endif %}
               </div>
            </div>
     
            <div class="rl-content">
                {% block lcontent %}
                    {% block fos_user_content %}{% endblock fos_user_content %}
                {% endblock %}
            </div>

        </div>
    </body>
</html>
