<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/redpilllinprocommon/css/standard.css') }}" type="text/css" media="all" />
        <title>{% block title %}RedpillLinpro Examples{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('bundles/redpilllinprocommon/images/favicon.ico') }}" />
        <script type="text/javascript" src="{{ asset('bundles/redpilllinprocommon/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/redpilllinprocommon/js/jquery.tablesorter.js') }}"></script>

<script type="text/javascript">
$(document).ready(function()
    {
        $("#sortable_table").tablesorter();
    }
);
</script>

    </head>
    <body>

            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="flash-{{ type }}">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% block content %}

            {% endblock %}

        </div>
    </body>
</html>
