{% extends "::base.html.twig" %}

{% block content %}

<h1>History for {{ entity }}</h1>

<table class="records_list sortable_table" id="sortable_table" data-order='[[ 1, "asc" ]]'>
    <thead>
        <tr>
            <th>Username</th>
            <th>Logged at</th>
            <th>Version</th>
            <th>Action</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
    {% for log in logs %}
        <tr>
            <td>{{ log.username }}</td>
            <td data-order="{{ log.loggedat | date('U')}}">{{ log.loggedat|date('Y-m-d H:i:s') }}</td>
            <td>{{ log.version }}</td>
            <td>{{ log.action }}</td>
            <td>{{ log.data | prettyprint }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
