{{ '{% extends "'}}{{ bundle }}{{'::layout.html.twig" %}' }}

{{ '{% block content %}' }}

<h1>{{ entity }} edit</h1>

<form action="{{ "{{ path('"~ route_name_prefix ~"_update', { 'id': entity.id }) }}" }}" method="post" {{ "{{ form_enctype(edit_form) }}" }}>
    {{ "{{ form_widget(edit_form) }}" }}
    <p>
        <button type="submit">Save</button>
    </p>
</form>

{% set hide_edit, hide_delete = true, false %}
{% include 'crud/views/others/record_actions.html.twig.twig' %}

{{ '{% endblock %}' }}
