{% extends ['::base.html.twig', 'base.html.twig'] %}

{% block content %}

<h1>Context history for {{ entity }}</h1>

<table class="records_list sortable_table" id="sortable_table" data-order='[[ 1, "desc" ]]'>
    <thead>
        <tr>
            <th>Username</th>
            <th>Logged at</th>
            <th>Action</th>
            <th>System</th>
            <th>Object Name</th>
            <th>External ID</th>
            <th>Url</th>
        </tr>
    </thead>
    <tbody>
    {% for log in logs %}
        <tr>
{#
            <td>{{ bisonlab_commonstuff.getusernamefromuserid(log.userid) }}</td>
 #}
            <td>{{ log.userid }}</td>
            <td data-order="{{ log.loggedat | date('U')}}">{{ log.loggedat|date('Y-m-d H:i:s') }}</td>
            <td>{{ log.action }}</td>
            <td>{{ log.system }}</td>
            <td>{{ log.objectname }}</td>
            <td>{{ log.externalid }}</td>
            <td>
{% if "http" in log.url %}
            <a href="{{ log.url }}">{{ log.url }}</a>
{% else %}
            <a href="{{ app.request.baseurl }}{{ log.url }}">{{ log.url }}</a>
{% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
